FEBBOX_UI_COOKIE=
FEBBOX_UI_COOKIES=
API_PORT=3000
CHILD_MODE='0'
CACHE_TTL_MS=86400000
SHARE_KEY_CACHE_TTL_MS=604800000
MAX_FILES_TO_LINK=4
MAX_TRAVERSAL_DEPTH=2
TARGET_STREAM_COUNT=4
MIN_STREAM_QUALITY=1080p
INCLUDE_ORIGINAL_STREAMS=0
